/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #18181a;
    color: white;
       
    }

#heading {
    text-align: center;
}