<div id="displayPage">
    <div><span>Name:</span><span> {{displayedData.name}}</span><p id="countryName"></p></div>
    <div><span>Capital:</span><span> {{displayedData.capitalCity}}</span><p id="countryCapital"></p></div>
    <div><span>Region:</span><span> {{displayedData.region.value}}</span><p id="region"></p></div>
    <div><span>Income:</span><span> {{displayedData.incomeLevel.value}}</span><p id="income"></p></div>
    <div><span>Latitude:</span><span> {{displayedData.latitude}}</span><p id="latitude"></p></div>
    <div><span>Longitude:</span><span> {{displayedData.longitude}}</span><p id="longitude"></p></div>

</div>