#page {
    
    display: flex;  
    
}

#svgmap {

    width: 100%;
    border: 1px solid green;
    flex: 1;
       
}

#datadisplay {
    
    border: 1px solid green;
    flex: 1;
        
}